.centered {
  text-align: center;
  min-width: 320px;
  margin: 100px auto;
  overflow: hidden; /* Hide scrollbars */
}
.centered input {
  width: 185px;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(121, 121, 121);
  outline: none;
}

.selects {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.selects select {
  background-color: #ccc;
  padding: 15px;
  border-radius: 10px;
}
.converted-value {
  font-size: 20px;
  color: rgb(50, 50, 50);
}
.converted-value span {
  font-size: 15px;
  color: black;
}