.centered {
  padding: 30px 20px;
  background-color: #dfdfdf;
  text-align: center;
  display: inline-block;
  margin: 100px auto;
  border-radius: 10px;
  overflow: hidden; /* Hide scrollbars */
}
.centered input {
  width: 185px;
  font-size: 20px;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(121, 121, 121);
  outline: none;
  transition: all 0.3s ease 0s;
  border: none;
}
.centered input:focus {
  scale: 1.1;
  background-color: #fff;
}
.selects {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.selects select {
  background-color: #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  border: none;
}
.selects select:focus {
  scale: 1.1;
  background-color: #fff;

}
.converted-value {
  font-size: 20px;
  color: rgb(50, 50, 50);
}
.converted-value span {
  font-size: 15px;
  color: black;
}